/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    text-align: center;
}

/* Cabeçalho */
.heading {
    background-color: #ff7b00;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h1 {
    margin: 0;
    font-size: 2rem;
}

.heading h3 {
    margin: 0;
    font-weight: 300;
}

#LogoutBt {
    background-color: white;
    color: #ff7b00;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

#LogoutBt:hover {
    background-color: #ff5500;
    color: white;
}

/* Detalhes da receita */
#recipe-details {
    background-color: white;
    padding: 20px;
    max-width: 900px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#recipe-details h2 {
    font-size: 2.5rem;
    color: #ff7b00;
    margin-bottom: 20px;
}

#recipe-details img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ingredientes - Passos */
#recipe-details h3 {
    font-size: 1.5rem;
    color: #bd630f;
    margin-bottom: 10px;
}

#recipe-details ol {
    list-style-type: decimal;
    padding-left: 20px;
    text-align: left;
    margin: 0 auto;
    max-width: 80%;
}

#recipe-details ol li {
    font-size: 1rem;
    color: #2c3e50;
    margin: 10px 0;
    line-height: 1.6;
}

/* Instruções */
#recipe-details .instructions {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    font-size: 1rem;
    color: #2c3e50;
    line-height: 1.6;
    text-align: left;
}

#recipe-details .instructions p {
    margin-bottom: 10px;
}

/* Link de voltar */
a {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #ff7b00;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

a:hover {
    text-decoration: underline;
    background-color: #cf4e0e;
}

/* Responsividade */
@media (max-width: 768px) {
    #recipe-details {
        padding: 15px;
    }

    #recipe-details h2 {
        font-size: 2rem;
    }

    #recipe-details img {
        width: 100%;
        max-width: 100%;
    }

    #recipe-details .instructions {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .heading h1 {
        font-size: 2.5rem;
    }

    .heading h3 {
        font-size: 1.2rem;
    }

    #recipe-details h2 {
        font-size: 1.8rem;
    }
}
